[Desktop Entry]
Type=Application
Name=SkyDrones
GenericName=Ground Control Station
Comment=UAS ground control station
Icon=org.mavlink.qgroundcontrol
Exec=SkyDrones
Terminal=false
Categories=Utility;
